# Python build artifacts
__pycache__/
*.pyc
build/
dist/
*.egg-info/

# Local environment
.env
venv/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/ 

# Pytest cache
.pytest_cache/

data/